$dl-margin: 40px;
$dl-linewidth: 4px;
$dl-boxwidth: 120px;
$dl-margintop: 100px;
$dl-boxheight: 120px;
$dl-buttonsize: 20px;

$color-white: #fff;
$color-gray : #444;
$color-green : #8be029;
$color-red : #e03c2e;
$color-blue : #3b57cc;
$light-gray : #eaeaea;